.center {
    width: 40%;
    margin: 10px auto;
}

.main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.example-full-width {
    width: 100%;
}

.centerContent {
    justify-content: center;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}